<?xml version="1.0"?>
<configuration>
  <location path="QueryTest.aspx">
    <system.web>
      <authorization>
        <!-- Alsow access to anonymous users -->
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="InventoryCheck.aspx">
    <system.web>
      <authorization>
        <!-- Alsow access to anonymous users -->
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="PastDueReport.aspx">
    <system.web>
      <authorization>
        <!-- Alsow access to anonymous users -->
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="DynamicData">
    <system.web>
      <authorization>
        <!-- Alsow access to anonymous users -->
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Default.aspx">
    <system.web>
      <authorization>
        <!-- Alsow access to anonymous users -->
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
</configuration>

