<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="TechInventoryConnectionString" connectionString="Data Source=localhost;Initial Catalog=TechInventory;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TechInventoryConnectionString1" connectionString="Data Source=localhost;Initial Catalog=TechInventory;Persist Security Info=True;User ID=INFO4430;Password=!NFO4430" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Mobile Rewrite" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTP_USER_AGENT}" pattern="midp|mobile|phone" />
            <add input="{HTTP_X-Device-User-Agent}" pattern="midp|mobile|phone" />
            <add input="{HTTP_X-OperaMini-Phone-UA}" pattern="midp|mobile|phone" />
          </conditions>
          <action type="Redirect" url="http://161.28.143.223/m" appendQueryString="false" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    </system.webServer>
</configuration>