<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="TechInventoryConnectionString" connectionString="Data Source=localhost;Initial Catalog=TechInventory;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="TechInventoryConnectionString1" connectionString="Data Source=localhost;Initial Catalog=TechInventory;Persist Security Info=True;User ID=INFO4430;Password=!NFO4430" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <!--CAS Server Configuration Section.  Using SAML protocol-->
  <casClientConfig
    casServerLoginUrl="https://cas.uvu.edu/cas/login"
    casServerUrlPrefix="https://cas.uvu.edu/cas/"
    serverName="http://161.28.143.223/UFRA"
    notAuthorizedUrl="~/AuthFailed.aspx"
    cookiesRequiredUrl="~/CookiesRequired.aspx"
    
    redirectAfterValidation="true"
    renew="false"
    singleSignOut="false"
    ticketValidatorName="Saml11"
    ticketTimeTolerance="5000" />
  <!--End CAS Server Configuration Section-->
  <system.web>
    <!--
            *======================
            * Forms Authentication
            * REQUIRED
            *======================
            IMPORTANT: Set the 'path' attribute to an appropriate path on your server
            below which the resulting ticket should be applicable.  Other 
            .NET applications configured for Forms or CAS authentication below
            this path should be authenticated automatically using the ticket.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms
          loginUrl="https://cas.uvu.edu/cas/login"
          timeout="30"
          defaultUrl="~/Default.aspx"
          cookieless="UseCookies"
          slidingExpiration="true"
          path="/" />
    </authentication>
    <!-- 
            *======================
            * Authorization
            * OPTIONAL
            *======================
            Define the authorization for resources in your application.  You
            will generally use configuration/system.web/authorization to specify
            the default state for your entire application.  In this section, you
            will want to define the default state for your application.  You can 
            make exceptions in configuration/location/system.web/authorization 
            or in separate, minimal web.config files in the subdirectories to be 
            excluded.
            
            The most common scenarios are:
             - Allow all users (authenticated and unauthenticated) to access your 
               entire application by default and explicitly restrict anonymous 
               access to specific pages or subdirectories.

                <authorization>
                    <allow users="*" />
                </authorization>

             - Deny anonymous access to your entire application by default and
               optionally exclude pages or subdirectories from the rule.

                <authorization>
                    <deny users="?" />
                </authorization>
        -->
    <authorization>
      <deny users="?" />
    </authorization>
    <!--<roleManager enabled="true" defaultProvider="AspNetReadOnlyXmlRoleProvider">
      <providers>
        <add name="AspNetReadOnlyXmlRoleProvider" type="Example.ReadOnlyXmlRoleProvider" xmlFileName="~/App_Data/UserRoles.xml"/>
      </providers>
    </roleManager>-->
    <siteMap enabled="true">
      <providers>
        <clear/>
        <add siteMapFile="Web.sitemap" name="AspNetXmlSiteMapProvider" type="System.Web.XmlSiteMapProvider"/>
      </providers>
    </siteMap>
    <pages>
      <controls>
        <add tagPrefix="cas" tagName="CookieViewer" src="~/Controls/CookieViewer.ascx"/>
        <add tagPrefix="cas" tagName="TicketManager" src="~/Controls/TicketManager.ascx"/>
      </controls>
    </pages>
    <httpModules>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
    </httpModules>
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Mobile Rewrite" patternSyntax="ECMAScript" stopProcessing="true">
          <match url=".*" ignoreCase="true" negate="false" />
          <conditions logicalGrouping="MatchAny" trackAllCaptures="false">
            <add input="{HTTP_USER_AGENT}" pattern="midp|mobile|phone" />
            <add input="{HTTP_X-Device-User-Agent}" pattern="midp|mobile|phone" />
            <add input="{HTTP_X-OperaMini-Phone-UA}" pattern="midp|mobile|phone" />
          </conditions>
          <action type="Redirect" url="http://161.28.143.223/m" appendQueryString="false" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
    <!--
    Disabled Integrated Mode configuration validation.
    This will allow a single deployment to  run on IIS 5/6 and 7+
    without errors
    -->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--
   Remove and Add the CasAuthenticationModule into the IIS7+
   Integrated Pipeline.  This has no effect on IIS5/6.
  -->
      <remove name="DotNetCasClient"/>
      <add name="DotNetCasClient"
           type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
      <!-- Other modules here -->
    </modules>
    </system.webServer>
</configuration>